
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0" metadata-complete="true">


    <servlet>
        <servlet-name>Dispath</servlet-name>
        <servlet-class>by.teachmeskills.shop.controller.DispatcherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dispath</servlet-name>
        <url-pattern>/disp</url-pattern>
    </servlet-mapping>

</web-app>