.u-section-1 .u-sheet-1 {
  min-height: 212px;
}

.u-section-1 .u-shape-1 {
  width: 635px;
  height: 636px;
  background-image: none;
  --radius: 50px;
  margin: 106px 215px -530px auto;
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    margin-right: 85px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 863px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 30px 476px 0 auto;
}

.u-section-2 .u-form-1 {
  height: 251px;
  margin: 19px 244px 0 327px;
}

.u-section-2 .u-label-1 {
  font-weight: 700;
  font-size: 1.125rem;
}

.u-section-2 .u-input-1 {
  --radius: 50px;
}

.u-section-2 .u-label-2 {
  font-weight: 700;
  font-size: 1.125rem;
}

.u-section-2 .u-input-2 {
  --radius: 50px;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  --radius: 50px;
  background-image: none;
}

.u-section-2 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -64px 395px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 392px;
  }

  .u-section-2 .u-form-1 {
    margin-right: 144px;
    margin-left: 227px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 195px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 300px;
  }

  .u-section-2 .u-form-1 {
    margin-right: 34px;
    margin-left: 117px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 225px;
  }

  .u-section-2 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 142px;
  }
}